@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');







:root {
  --Violet: #9356DC;
  --Mauve: #FF79DA;
  --Vert: #99E2D0;

}

*  {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

}


.nav a img {
  width: 100px;

}

.nav {
  justify-content: center;
  display: flex;
  padding-top: 15px;
  padding-bottom: 10px;
}

.research input {
  border: none;
  width: 100px;
  background-color: transparent;
  text-align: center;
  align-items: center;
  display: flex;

}

.research {
  display: flex;
  justify-content: center;
  align-items: center;


}




.Belleville {
  background-color: lightgrey;
  margin-bottom: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.p1 {
  color: black;
  font-family: "Roboto", sans-serif;
}

.header_title {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.soins {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;

}


.buttonsearch {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  width: 190px;
  height: 40px;
  justify-content: center;
  border: none;
}

.bouton_filtre {
  background-color: #F7F7F7;;
  color: black;
  font-weight: bold;
  border-radius: 8px ;
  border: none;
  height: 43px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  gap: 15px;
  height: 72px;
  width: 320px;
  margin: auto;
}

.pastille {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #FF79DA;
  position: absolute;
  top: 40%;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
  }

  .menu-container {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transform: translateY(-30px);
    padding-top: 30px;
    background-color: #f6f6f6;
    
  }

.filter-section {
  padding: 10px;
}

.filtre-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;
  padding-right: 30px;
  padding-left: 15px;

}

.header-filter {
  margin-bottom: 10px;
}

.header-filter span {
  width: 40px;
  height: 2px;
  background-color: #99E2D0;
  display: block;
}

.grid-item {
  cursor: pointer;
  background-color: white;
  margin: auto;
  color: black;
  text-decoration: none;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  height: 38%;
  justify-content: space-between;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
}

.grid-item-content {
  padding: 10px;
}

.grid-img {

  
  width: 100%;
  height: 180px;
  display: block;
  object-fit: cover;
  padding-right: 15px;
}






footer {
  background-color: gray;
  color: blanchedalmond;
  padding-left: 25px;
  
}

footer ul li {
  list-style: none;
}

footer ul li i {
  color:black ;
  margin-right: 10px;
  font-size: 24px;

}

/* PAGES RESTAURTANTS */

.header-restaurant {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  gap: 30%;
}

.menu-item {
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  border: none;
  position: relative;
  height: 75px;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu-item-header {
  text-align: left;
}

.checkmark {
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #99E2D0;
  right: 0px;
  font-size: 0;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark i {
  color: white;
}

.menu-item:hover .checkmark {
  width: 80px;
  font-size: 20px;
}

.price {
  transition: all 0.5s;
}

.menu-item:hover .price {
  transform: translateX(-80px);
}

.menu-item-header {
  transition: all 0.5s;
  width: 80%;
}

.menu-item-header h3,
.menu-item-header p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s;
}

.menu-item:hover .menu-item-header {
  width: 65%;
}
