
@media screen and (min-width: 768px) {
.grid-restaurants {
    grid-template-columns: 1fr 1fr;
}

}

@media screen and (min-width: 992px) {
    .filtre-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

}

}